<div class="form-group text-left">
  <select name="languages" id="languages" onchange="location = this.value;">
    <option value="/en" [selected]="siteLocale === 'en'">English</option>
    <option value="/es" [selected]="siteLocale === 'es'">Spanish</option>
  </select>
</div>
<div class="container p-4">
  <div class="h2" i18n>Angular internationalization demo</div>
  <form>
    <div class="form-group row m-1">
      <label for="inputEmail3" class="col-sm-2 col-form-label" i18n
        >Email</label
      >
      <div class="col-sm-10">
        <input
          i18n-placeholder
          type="email"
          class="form-control"
          id="inputEmail3"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="form-group row m-1">
      <label for="inputPassword3" class="col-sm-2 col-form-label" i18n
        >Password</label
      >
      <div class="col-sm-10">
        <input
          i18n-placeholder
          type="password"
          class="form-control"
          id="inputPassword3"
          placeholder="Password"
        />
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row m-1">
        <legend class="col-form-label col-sm-2 pt-0" i18n>Radios</legend>
        <div class="col-sm-10">
          <div class="form-check m-1">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="gridRadios1" i18n>
              First radio
            </label>
          </div>
          <div class="form-check m-1">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios2"
              value="option2"
            />
            <label class="form-check-label" for="gridRadios2" i18n>
              Second radio
            </label>
          </div>
          <div class="form-check disabled m-1">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios3"
              value="option3"
              disabled
            />
            <label class="form-check-label" for="gridRadios3" i18n>
              Third disabled radio
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row m-1">
      <div class="col-sm-2" i18n>Checkbox</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" />
          <label class="form-check-label" for="gridCheck1" i18n>
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row m-1">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" i18n>Sign in</button>
      </div>
    </div>
  </form>
  <div class="h3 mt-4" i18n>About US</div>
  <div class="lead" i18n>
    Based on the specific client requirement, we developed a webcam-based
    software solution in such a specific way as it can simultaneously monitor
    and record multiple webcams. With support for both motion detection and
    sound detection, the webcam lets you keep an eye on your property from a
    remote location. WOW right? We strive to provide every single project with
    the same encouragement and wish to deliver the same remarkable web
    development service of creating something original, superior and
    exceptional. Since then, we’ve successfully implemented over 500 projects
    for more than different clients in almost all the industries.
  </div>
</div>
